h2.bg-dark {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
}
h1 {
  color: white;
}
label {
  font-weight: bold;
  font-style: italic;
  color: white;
}

.jumbotron {
  min-height: 100vh;
}

body {
  background-color: rgb(0, 0, 0);
  height: calc(100vh - 60px);
  border-style: none;
  padding: 0%;
  margin: 0%;
}

#contentWrap {
  display: none;
}

.chat {
  height: 35rem;
  overflow-y: scroll;
}

.error {
  color: red;
}

.card {
  padding: 15px;
  margin: 15px;
}
.block {
  display: flex;
}
.btn {
  margin: 10px;
  width: auto;
}
.cart {
  text-align: center;
  color: white;
}
.page-item {
  margin-left: 10px;
}
.ul.pagination {
  margin-left: 10px;
}
h3 {
  color: rgb(0, 0, 0);
}
.role {
  color: rgb(0, 0, 0);
  margin: 10px;
}
.login {
  color: white;
}
div.container-fluid{
text-align: center;

}
p.login.card-text{
  margin-top: auto;
}
h2.title.bg-secondary{
  color: white;
  text-align: center;
  padding: 10px;
}
a.navbar-brand.mx-auto{
  margin-left: 0%! important;
}
.roleUser{
  color: white;
  text-align: center;
  margin-right: 10px;
  margin-top: 4px;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
  margin-left: 2px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-left: 0px;
  padding-right: 0px;
}
p.login-msg{
color: white;
}


/* Estilos para la barra de navegación */
.navbar {
  background-color: #343a40;
  padding: 10px; 
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
}

.roleUser,
.login {
  color: #fff; 
}

.login {
  font-size: 18px; 
}

.btn-success,
.btn-outline-danger {
  margin-left: 10px; 
}

.cart {
  margin-left: 20px; 
}

/* Estilos para la sección de productos */
.title {
  background-color: #f8f9fa; 
  padding: 20px; 
  margin-top: 20px;
  margin-bottom: 40px; 
}

.block {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center; 
}

.card {
  width: 300px; 
  margin-bottom: 20px; 
}

.card-img-top {
  max-height: 300px; 
  object-fit: cover; 
}

.card-title {
  font-size: 18px;
}

.card-text {
  font-size: 14px;
}

.card-footer {
  padding-top: 10px; 
  color: #6c757d; 
  font-size: 12px 
}

.pagination {
  margin-top: 20px;
  justify-content: center; 
}

.page-link {
  color: #007bff;
}

.page-link:hover {
  color: #0056b3; 
}
.text-body-secondary{
font-size: 14px;
}
.notProduct{
  color: white
}
.form{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-group{
  align-items: center;
}
.order{
 margin-bottom: 16px;
}